src/main/app/mule-jwt-googledrive.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<http:request-config name="GoogleAuth_Request_Configuration" protocol="HTTPS" host="accounts.google.com" port="443" basePath="/o/oauth2"
		doc:name="HTTP Request Configuration" />
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<http:request-config name="GoogleDrive_Request_Configuration" protocol="HTTPS" host="www.googleapis.com" port="443" basePath="/drive/v3/" doc:name="HTTP Request Configuration"/>
    <flow name="mule-jwt-googledriveFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <flow-ref name="googledrive-auth-getToken" doc:name="googledrive-auth-getToken"/>
        <http:request config-ref="GoogleDrive_Request_Configuration" path="/files" method="GET" doc:name="HTTPs: Call Get Files">
            <http:request-builder>
                <http:header headerName="Authorization" value="Bearer #[flowVars.accessToken]"/>
            </http:request-builder>
        </http:request>
    </flow>
	<sub-flow name="googledrive-auth-getToken">

		<component doc:name="Java: Create JWT">
            <singleton-object class="com.rumanblogs.googledrive.usingjwt.CreateDriveJWT"/>
		</component>
		<set-payload value="grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&amp;assertion=#[flowVars.googledriveJWT]" doc:name="Set Payload using googledriveJWT" />
		<http:request config-ref="GoogleAuth_Request_Configuration" path="/token" method="POST" doc:name="HTTPs: Call Google token Service">
			<http:request-builder>
				<http:header headerName="Content-Type" value="application/x-www-form-urlencoded" />
			</http:request-builder>
		</http:request>
		<set-variable variableName="accessToken" value="#[json:/access_token]" doc:name="Variable: Set Access Token" />
	</sub-flow>
</mule>
